@model TaxPayment.Common.InsurancePayment.InsurancePayementViewModel
@{
    ViewData["Title"] = "VerifyKYCDetail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-3" style="margin-left:8%">
        <button type="button" class="btn" style="background-color:gainsboro" onclick="javascript:history.go(-1);"><i class="mdi mdi-arrow-left"></i> Back</button>
    </div>
</div>
<hr />

<section class="section-forms">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th colspan=2><h3>Insurance Payment Details</h3></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>KYC Code</strong></td>
                                <td>@Model.KYCCode</td>
                            </tr>
                            <tr>
                                <td><strong>Province</strong></td>
                                <td>@Model.Province</td>
                            </tr>
                            <tr>
                                <td><strong>Vehicle Category </strong></td>
                                <td>@Model.VechicleCategory</td>
                            </tr>
                            <tr>
                                <td><strong>Company Name</strong></td>
                                <td>@Model.CompanyName</td>
                            </tr>
                            <tr>
                                <td><strong>Insurance Rate</strong></td>
                                <td>@Model.InsuranceRate</td>
                            </tr>
                            <tr>
                                <td><strong>Paid Date</strong></td>
                                <td>@Model.PaidDate</td>
                            </tr>
                            <tr>
                                <td><strong>Vechicle No</strong></td>
                                <td>@Model.VechicleNo</td>
                            </tr>
                            <tr>
                                <td><strong>Bank Code</strong></td>
                                <td>@Model.BankCode</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form asp-action="ApproveInsurancePaymentDetail" asp-controller="InsurancePayment" method="post" id="manage-InsurancePayment-form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Remarks">Remarks</label>
                            <textarea asp-for="Remarks" class="form-control"></textarea>
                            <span id="Remarks_jserror"></span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" id="btnApproveDetail" class="btn btn-primary" onclick="Approve()">
                                Approve  Details
                            </button>
                            <button type="submit" id="btnRejectDetail" class="btn btn-danger">
                                Reject  Details
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="RowId" id="hdnRowId" value="@Model.RowId" />
                <input type="hidden" asp-for="ApproveVerify" id="hdnApprove" />
            </form>
        </div>
    </div>

</section>
@section scripts{
    <script src="~/Scripts/Setup/InsurancePayment/insurancePayment.js" type="text/javascript"></script>
    <partial name="_AlertPartial" />
    <script type="text/javascript">
        $(function () {
            var taxPaymentManagement = InsurancePaymentManagement.insurancePayment();
            taxPaymentManagement.renderManage();
        });
    </script>
    }

