@model List<TaxPayment.Common.VechicleRegistration.RegistrationDetails>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="section contact min-width" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Register Your Vechicle</h2>
                </div>
            </div>
            <div class="col-md-12" style="margin-left:79%">
                <button type="button" class="btn" style="background-color:gainsboro" onclick="javascript:history.go(-1);"><i class="mdi mdi-arrow-left"></i> Back</button>
                <a asp-controller="VechicleRegistration" asp-action="ManageVechicleRegistration" class="btn btn-primary"><i class="mdi mdi-plus"></i>Register Vechicle</a>
            </div>
            <div class="col-md-12" style="margin-top:1%">
                <table class="table table-striped" style="color:white">
                    <thead>
                        <tr>
                            <th class="text-center">SN</th>
                            <th class="text-center">KYC Code</th>
                            <th class="text-center">Vechicle Type</th>
                            <th class="text-center">Vechicle Number</th>
                            <th class="text-center">Registered Date</th>
                            <th class="text-center">Ownername</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                        @if (Model.Count != 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                         
                                    <td class="text-center">@item.RowNum</td>
                                    <td class="text-center">@item.KYCCode</td>
                                    <td class="text-center">@item.VechicleType</td>
                                    <td class="text-center">@item.VechicleNumber</td>
                                    <td class="text-center">@item.RegisteredDate</td>
                                    <td class="text-center">@item.Ownername</td>
                                    <td>
                                        <a class="dropdown-item" style="color:white" href="@Url.Action("UpdateVechicleRegistration","VechicleRegistration",new { UserId = item.UserId })"><i class="bx bx-edit-alt">Edit</i> </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="text-center">
                                <td colspan="5">No Data Exists</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


